<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="BackgroundWrapper">
        <div class="InnerWrapper">
        <p><a asp-controller="Home" asp-action="Dashboard">Dashboard</a> | <a asp-action="ViewAll" asp-controller="Event">View all events</a> | <a asp-action="ViewAllSeries" asp-controller="Series">View all Series</a> | <a asp-action="ViewAllPatrons" asp-controller="Patron">View all Patrons</a> </p>
        <h1>All Series</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Series Name</th>
                    <th scope="col">Event Name</th>
                    <th scope="col">Series Date & Time</th>
                    <th scope="col">Tickets Sold</th>
                    <th scope="col">Tickets Available</th>
                    <th scope="col">Base Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Net Sales</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.AllSeries)
                {
                    <tr>
                        <td><a asp-controller="Series" asp-action="SeriesDetails" asp-route-SeriesId="@item.SeriesId">@item.SeriesName</a></td>
                        <td>@item.Event.EventName</td>
                        <td>@item.CombinedTime.ToString("MM/dd/yyyy @ hh:mm tt")</td>
                        <td>@item.TicketsSold</td>
                        <td>@item.TicketsAvailable</td>
                        <td>$@Math.Round(item.BasePrice,2)</td>
                        <td>$@Math.Round(item.TotalDiscounts,2)</td>
                        <td>$@Math.Round(item.NetSales,2)</td>
                        <td><a asp-action="EditSeries" asp-controller="Series" asp-route-SeriesId="@item.SeriesId">Edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <button style="margin-left: 730px"><a asp-controller="Series" asp-action="CreateSeries">Create new Series</a></button>
        </div>
    </div>

</body>
</html>