@model Event
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="BackgroundWrapper">
        <div class="InnerWrapper">
            <p><a asp-controller="Home" asp-action="Dashboard">Dashboard</a> | <a asp-action="ViewAll" asp-controller="Event">View all events</a> | <a asp-action="ViewAllSeries" asp-controller="Series">View all Series</a> | <a asp-action="ViewAllPatrons" asp-controller="Patron">View all Patrons</a> </p>
            <h1 style="text-align: center;">Details for @Model.EventName</h1>
            <p>Event code: @Model.EventCode</p>
            <p>Price map for Event: @Model.PriceMap</p>
            <p>Start date of Event: @Model.StartDate.ToString("MM/dd/yyyy")</p>
            <p>End date of Event: @Model.EndDate.ToString("MM/dd/yyyy")</p>
            <a asp-action="Edit" asp-controller="Event" asp-route-EventId="@Model.EventId">Edit</a>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Series Name</th>
                        <th scope="col">Date and Time</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Ticket Price</th>
                        <th scope="col">Tickets Available</th>
                        <th scope="col">Base Price</th>
                        <th scope="col">Total Discounts</th>
                        <th scope="col">Net Sales</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.EventSeries)
                    {
                        <tr>
                            <td><a asp-controller="Series" asp-action="SeriesDetails" asp-route-SeriesId="@item.SeriesId">@item.SeriesName</a></td>
                            <td>@item.CombinedTime.ToString("MM/dd/yyyy @ hh:mm tt")</td>
                            <td>@item.SeriesVenue</td>
                            <td>$@Math.Round(item.TicketPrice,2)</td>
                            <td>@item.TicketsAvailable</td>
                            <td>$@Math.Round(item.BasePrice,2)</td>
                            <td>$@Math.Round(item.TotalDiscounts,2)</td>
                            <td>$@Math.Round(item.NetSales,2)</td>
                            <td><a asp-controller="Series" asp-action="EditSeries" asp-route-SeriesId="@item.SeriesId">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <button style="margin-left: 740px"><a asp-controller="Series" asp-action="CreateSeries">Add Series</a></button>
        </div>
    </div>
</body>
</html>